<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3a08931-d0d9-4153-835a-04ef523db503" Alias="test" Level="1">
  <Info>
    <Name>test</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>