<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebeee72c-0713-47bc-ac87-59bb126fcd1d" Alias="Reservierung" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Reservierung</Path>
    <Trashed>false</Trashed>
    <ContentType>reservierung</ContentType>
    <CreateDate>2025-08-08T14:13:13</CreateDate>
    <NodeName Default="Reservierung" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cb66468-f2b9-4105-9448-d7d371ebd8e8">Reservierung</Template>
  </Info>
  <Properties />
</Content>