<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebeee72c-0713-47bc-ac87-59bb126fcd1d" Alias="Reservierung" Level="2">
  <Info>
    <Parent Key="4a80b2c2-a885-40fb-b9be-f53593fc9ad4">Startseite</Parent>
    <Path>/Startseite/Reservierung</Path>
    <Trashed>false</Trashed>
    <ContentType>reservierung</ContentType>
    <CreateDate>2025-08-08T14:13:13</CreateDate>
    <NodeName Default="Reservierung" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cb66468-f2b9-4105-9448-d7d371ebd8e8">Reservierung</Template>
  </Info>
  <Properties>
    <heroBild>
      <Value><![CDATA[[
  {
    "key": "fce569c5-e083-4517-beaa-68a3368fa922",
    "mediaKey": "eb1cbdcc-0309-4a80-9309-6a3577c83483"
  }
]]]></Value>
    </heroBild>
  </Properties>
</Content>