<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a80b2c2-a885-40fb-b9be-f53593fc9ad4" Alias="Startseite" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Startseite</Path>
    <Trashed>false</Trashed>
    <ContentType>startseite</ContentType>
    <CreateDate>2025-08-08T14:13:31</CreateDate>
    <NodeName Default="Startseite" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4abac32f-21a5-4314-8759-970d2fe2a31b">Startseite</Template>
  </Info>
  <Properties>
    <hintergrundbild>
      <Value><![CDATA[[
  {
    "key": "b1670e3a-ba73-40e4-bcaa-366c1b0f3cf1",
    "mediaKey": "28567635-173d-4a1e-8d83-1388938beb3c"
  }
]]]></Value>
    </hintergrundbild>
    <reservierungslink>
      <Value><![CDATA[umb://document/ebeee72c071347bcac8759bb126fcd1d]]></Value>
    </reservierungslink>
    <seitentitel>
      <Value><![CDATA[Willkommen im Campus Café]]></Value>
    </seitentitel>
  </Properties>
</Content>