<?xml version="1.0" encoding="utf-8"?>
<Media Key="28567635-173d-4a1e-8d83-1388938beb3c" Alias="Hntergrund" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hntergrund</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-08T14:51:00</CreateDate>
    <NodeName Default="Hntergrund" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gn1fmkb3/hntergrund.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>