<?xml version="1.0" encoding="utf-8"?>
<Media Key="12141791-df96-4e07-ab38-80b64ac839da" Alias="Michal Parzuchowski Itav89tnkks Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MichalParzuchowskiItav89tnkksUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-08T15:11:34</CreateDate>
    <NodeName Default="Michal Parzuchowski Itav89tnkks Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s2lbieuw/michal-parzuchowski-itav89tnkks-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>