<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c6487fa-f4b1-4a6c-ac8d-a55113d11df5" Alias="aboAbdo" Level="1">
  <Info>
    <Name>abo abdo</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>aboAbdo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9fe12f2f-2132-461c-902e-d7d18f4291bc">aboAbdo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>