<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="21bdfb9a-d6fe-461f-b1e3-2f00e52dabe6" Alias="feedback" Level="1">
  <Info>
    <Name>Feedback</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Feedback</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e19cd66a-0005-4a30-8fce-1403c39fc6ed">Feedback</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>