<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14858bb4-f62f-4f46-b30c-24f4d670e858" Alias="menue" Level="1">
  <Info>
    <Name>Menü</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Menue</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a17d0784-2817-49de-b6e7-eb2a83172f83">Menue</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>