<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c51f16-447c-4854-a817-4eb65087eba4" Alias="reservierung" Level="1">
  <Info>
    <Name>Reservierung</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Reservierung</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4cb66468-f2b9-4105-9448-d7d371ebd8e8">Reservierung</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ece651f-b873-4581-8b23-5a7eed13959e</Key>
      <Name>HeroBild</Name>
      <Alias>heroBild</Alias>
      <Definition>16e0e749-5c60-4ecc-92f2-fce7ce3059d7</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f2355822-a138-4eed-be2a-a130fe1a75aa</Key>
      <Caption>Inhalt</Caption>
      <Alias>inhalt</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>