<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29c51f16-447c-4854-a817-4eb65087eba4" Alias="reservierung" Level="1">
  <Info>
    <Name>Reservierung</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Reservierung</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4cb66468-f2b9-4105-9448-d7d371ebd8e8">Reservierung</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>